%h1 Conversational Development

%p
  Things, we’ve been hearing about and using for years, change their meaning:

%ul
  %li <strong>Continuous Integration</strong> -  at the beginning it was more about motivating developers to integrate software once a day to check if everything works. Today it is a common practice plus a hundred of different tools you can choose from

  %li <strong>Version Control</strong> - Git became a standard. Web UI becomes a natural extension of functionality provided by git command line interface.

  %li
    <strong>Agile Software Development</strong> - we passed a long way from having a lot of expectations and hopes through a struggle of applying Agile in our companies, to a lot of skepticism and criticism about Agile, and finally we agreed that Agile has some significant limitations.


%p
  Everything starts with an idea, sharpens by practice, becomes a new standard, and then gets replaced by another new idea.

%p
  Moreover, the world is also changing constantly. More and more companies switch to a remote-only mode of working, ...

%p
  In this new world <strong>Agile</strong>, which is currently accepted by the community is not enough anymore:

%ul
  %li Agile Software Development focuses only on the part of the process: it cares only about development process, not about setting requirements and doing deployments.
  %li To make Agile work with deployment we've got DevOps, but it still does not look like the complete solution.
  %li It is hard to do work with large and distributed teams.

%p
  We believe that it is the time to voice new set of principles, to address existing problems and challenges in software development process. We call it <strong>Conversational Development</strong>.


%h2 Principles of Conversational Development

%p ...

%p
  It doesn’t mean existing principles are wrong. They just need to be modified and complemented, because new reality enforces us to look for answers to new questions.

%p
  Processes evolution goes in lockstep with tools & technologies evolution. Things like virtualization and containerization help us build reliable software in the imperfect world.

%p
  In GitLab we’re lucky enough to work on a product together with our community. The constant flow of improvement proposals helps us to see trends and learn from people about how they use tools to develop software.

%p
  Our open process helps us experiment with new features without much risk while delivering a new release every month.

%p
  Our engineering team grew from 10 to 50 engineers in one year. The whole company is 150 people, and the whole team is distributed.

%p
  We start our journey on the road of applying these principles in our company and sharing our learnings with the community.

%p
  Join us and help us spread information about Conversational Development.