%section#development-processes
  %h2 Agile needs to evolve

  %p
    The first attempt to bring structure into software development was <strong>Waterfall</strong>, but it was extremely inflexible and rigid.

  %p
    People replaced Waterfall with <strong>Scrum</strong>. But some problems remained:<br/>
    %ul
      %li <strong>Scrum</strong> assumes you can estimate work accurately, which is not true in general.
      %li As a result, it consumes a lot of time trying to plan and negotiate and strains the relationship between developers and managers

  %p
    <strong><a href="http://agilemanifesto.org" target="_blank">Agile</a></strong> fixed most of the problems of <strong>Scrum</strong>.
    %ul
      %li But it focuses only on the development process, not on setting requirements and doing deployments.
      %li It doesn't work with large and distributed teams because verbal in-person communication doesn't scale
      %li Somehow best engineering practices ended up being not a part of Agile.

  =img("/images/evolution.png")

  %p
    <strong>Conversational Development</strong> is an evolution of <strong>Agile</strong> to make it work for the entire process and with large and/or distributed teams.


%section#principles
  %h2 Conversational Development Principles

  %p
    Software development consists of conversations around different things:
    %ul
      %li What can be improved?
      %li How to implement it?
      %li Does it work properly?
      %li Did it bring the expected value?

    When all of these conversations are taken into account, reasoning about software development simplifies a lot, and can be summarized in these four principles:

  .row(style="text-align:center")
    .col-md-3.col-xs-6
      1.
      %a(href="shorten-cycle")
        =img("/images/main-s.png")
        Shorten the conversation cycle
    .col-md-3.col-xs-6
      2.
      %a(href="thread-conversations")
        =img("/images/main-t.png")
        Thread the conversations through all stages
    .col-md-3.col-xs-6
      3.
      %a(href="invite-everyone")
        =img("/images/invite.png")
        Invite everyone to the conversation
    .col-md-3.col-xs-6
      4.
      %a(href="results-oriented")
        =img("/images/main-r.png")
        Result oriented conversations

  %p
    Moreover, most of engineering best practices arise naturally as an effect of Conversational Development principles application.


%section#adopt
  %h2 Adopting Conversational Development

  %p The first step on the path of adoption will be to realize your current situation. Take a look at the <a href="maturity-model">Maturity Model</a> to get an idea of your processes maturity, possible problems, and potential for growth.

%section#how-to-contribute
  %h2 How to contribute

  %p It is important to understand that the whole idea of Conversational Development is a working draft. You can participate in many different ways:

  %ul
    %li You can propose or suggest any change by <a href="https://gitlab.com/gitlab-com/conversationaldevelopment-com/merge_requests">creating a merge request</a>
    %li <a href="https://gitlab.com/gitlab-com/conversationaldevelopment-com/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=">Create an issue</a>, if you have any question, or if you see some inconsistency
    %li If you want to be a case study, please fill and submit <a href="https://goo.gl/forms/jDgMnaiFomLirlo23">Case Study Participant form</a>
    %li Host a meetup to discuss Conversational Development
    %li Help to spread information about Conversational Development by sharing it on social networks


:sass
  section
    margin-top: 50px
